header {
    .active-list a {
        color: #fe4f70 !important;
    }
    .navbar {
        position: fixed;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.26);
        z-index: 1024;

        &__container {
            height: 70px;
            display: flex;
            align-items: center;

            .menu {
                display: flex;
                align-items: center;

                &__items {
                    margin-right: 10px;
                    padding: 10px 15px;

                    a {
                        font-size: 18px;
                        font-weight: normal;
                        color: #203656;
                        transition: 0.5s ease-in-out;

                        &:hover {
                            color: #fe4f70;
                        }
                    }

                    &:last-child() {
                        margin-right: 0;
                    }
                }
            }
            .hamburger-icon {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    color: #fe4f70;
                }
            }
            .logo {
                height: inherit;
                display: flex;
                align-items: center;
                h2 {
                    color: #203656;
                }
            }
        }
    }
}
